<h2>
    <%= current_user.name %>s Playlist
</h2>

<h5>
    All the songs in our hub:
</h5>
<table>
    <th>
        <tr>
            <td>
                Artist
            </td>
            <td>
                Title
            </td>
            <td>
                Times added
            </td>
            <td>
                Add to playlist
            </td>
        </tr>
    </th>
    <% @songs.each do |song| %>
        <tr>
            <td>
                <%= song.artist %>
            </td>
            <td>
                <a href="/songs/<%= song.id.to_s  %>/">
                    <%= song.title %>
                </a>
            </td>
            <td>
                <%= song.songlikes.reduce(0){ |memo, elem|  memo + elem.count } %>
            </td>
            <td>
                <form action='/songs/<%= song.id.to_s %>' method='post'>
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type='submit' value='Add'>
                </form>
            </td>
        </tr>
    <% end %>
</table>

<hr><hr>
<h2>
Add a song
</h2>
<hr>
<form action="/songs" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <hr>
    <p>
        song title
        <input type='text' id='title' name='title'>
    </p>

    <hr>
    <p>
        artist name
        <input type="text" id="artist" name = "artist">
    </p>
    <hr><hr>
    <input type="submit" value="Add Song">
    <hr>
</form>