
<h2>
    Other who added <%= @song.title %> by <%= @song.artist %>...
</h2>

<hr>

<table>
    <th>
        <tr>
            <td>
                Name
            </td>
            <td>
                Times added
            </td>
        </tr>
    </th>
    <% @song.songlikes.each do |like| %>
       <tr>
            <td>
                <a href="/users/<%= like.user.id.to_s  %>/">
                    <%= like.user.name %>
                </a>
            </td>
            <td>
                <%= like.count.to_s %>
            </td>
        </tr>
    <% end %>
</table>
